# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "themes", "languages/loco" directory
wordpress/wp-content/*
!wordpress/wp-content/themes/
!wordpress/wp-content/languages/loco/
wordpress/wp-content/languages/loco/*.json

# ignore these plugins
wp-content/plugins/hello.php

# ignore specific themes
wordpress/wp-content/themes/twenty*/

# ignore specific files
cli/config.sh
wp-cli.phar
wordfence-waf.php
wp-config.php
.htaccess
.user.ini

# ignore some directories
save/
!save/.ok
logs/
!logs/.ok

# ignore log files and databases
*.log
*.sql
*.sqlite
*.git
*.svn
*.CVS
*.arch-params
.DS_Store
__MACOSX
nbproject
/.netbeans/
*.ai
*.psd
*.zip
*.tar.gz
*~
*.code-workspace