*.log
.git
.svn
_svn
.CVS
.arch-params
.bzr
_darcs
.hg
.monotone
.svn
_svn
.DS_Store
__MACOSX
.settings
.buildpath
.project
.cache
nbproject
/.netbeans/
catalog.xml
*.psd
*.zip
*.tar.gz
*~
.well-know/
archives

backups/*
logs/*
wordpress/wp-config.php
wordpress/.htaccess
wordpress/wp-content/uploads/*
wordpress/wp-content/themes/*/components/*